body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}
h1 {
    text-align: center;
    color: #333;
}
.block {
    max-width: 60%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invisible {
    display: none;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.rowForm {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 15px;
}

.colForm {
    flex: 1;
    min-width: 150px;
    align-items: center;
}

.colForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.colForm input, 
.colForm select, 
.colForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-column: 2;
    grid-row: 1;
}

.colFormButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.buttonSupprimer{
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
}

.rouge{
    color: red;
}

.vert{
    color: green;
}

.sort-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
    padding: 0;
}
.sort-btn:hover {
    color: blue;
}